<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <style>
              body {
            font-family: 'DejaVu', sans-serif;
            padding: 40px;
            line-height: 1.6;
            font-size: 14pt;
        }
        .title {
            text-align: center;
            font-size: 20pt;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .section-title {
            font-weight: bold;
            margin-top: 20px;
        }
        p {
            margin-bottom: 12px;
        }
    </style>
</head>
<body>

<div class="title">STOMATOLOJİ XİDMƏT MÜQAVİLƏSİ №</div>

<p>Bakı şəhəri {{.Today}} - ci il</p>

<p>
Bir tərəfdən AzDent Stomatoloji Klinikası adından Məlikli İbrahim Fuad oğlu (bundan sonra - Klinika adlandırılacaq), digər tərəfdən {{Citizenship}} vətəndaşı {{.LastName}}, {{.FirstName}}, {{.MiddleName}}{{genderWord .Gender}} şəxsində (bundan sonra - Xəstə adlandırılacaq) tərəfindən aşağıdakı şərtlərlə bu müqaviləni bağladılar.
</p>

<h3>1. Müqavilənin predmeti</h3>
<p>1.1. Klinika Xəstəyə stomatologiya sahəsində tibbi xidmətlər göstərməyi (bundan sonra - stomatoloji xidmətlər), Xəstə isə bunun müqabilində Klinikaya müalicə üçün nəzərdə tutulan xidmət haqqını (bundan sonra – xidmət haqqı) ödəməyi öz öhdəsinə götürür.
    1.2. Bu Müqavilənin əlavələri bu Müqvilənin ayrılmaz tərkib hissəsidir.
    1.3. Klinika Bakı şəhəri, Yasamal rayonu, Kazım Kazımzadə 84A ünvanında yerləşir.
</p>

<h3>2. Stomatoloji xidmətlər ilə bağli razilaşma</h3>
<p>2.1. Stomatoloji xidmətlər, həkim-stomatoloqun bu Müqavilənin 1 nömrəli əlavəsinə uyğun olaraq tərtib etdiyi müalicə planı (Planlama) əsasında göstərilir və Xəstənin (rəqəmsal) tibbi kitabında qeyd olunur.
    2.2. Xəstə keçmiş və ya mövcud xəstəlikləri (allergiya, hepatit, QİÇS, bronxial astma, ürək-damar sisteminin xəstəlikləri, cinsi yolla ötürülən xəstəliklər, vərəm və s.), habelə qan köçürmə, inyeksiyalar (son iki ildə) və yoluxucu xəstəliklərlə əlaqə barədə məlumat verdikdən sonra həkim-stomatoloq bu Müqavilənin 2 nömrəli əlavəsinə uyğun olaraq Anamez adlı sənəd tərtib edir.
    
    2.3. Xəstəni hərtərəfli müayinə etməklə həkim-stomatoloq Xəstə barəsində onda aşkar etdiyi xəstəliklərlə bağlı bu Müqavilənin 3 nömrəli əlavəsinə uyğun olaraq Diaqnoz adlı sənəd tərtib edir.
    2.4. Xəstədə implant əməliyyatı aparılacagı təqdirdə 4 nömrəli əlavə İmplant Müqaviləsi adlı sənəd tərtib edilir.  
    2.5. Klinikanın təklif etdiyi xidmət haqqı ilə bağlı Tərəflər arasında razılıq əldə edildikdən sonra Xəstə bu Müqavilənin 5 nömrəli əlavəsinə uyğun olaraq “Tibbi müdaxilənin aparilmasi haqqinda məlumatlandirici razilaşma” adlı sənədi imzalayır. Xəstə azyaşlı olduğu halda onun əvəzinə qanuni təmsilçisi bu müqavilənin 6 nömrəli əlavəsinə uyğun olaraq “Tibbi müdaxilənin aparilmasi haqqinda məlumatlandirici razilaşma (uşaq stomatologiyasi)” adlı sənədi imzalayır.
    2.6. Göstərilən stomatoloji xidmətlərə görə Klinika tərəfindən Xəstəyə bu Müqavilənin 7 nömrəli əlavəsinə uyğun olaraq zəmanət verilir.
    2.7. Bu Müqavilənin 2.5-ci bəndində nəzərdə tutulmuş zəmanət bir şərtlə qüvvədə olur ki, Xəstə müntəzəm şəkildə, yəni 6 ayda 1 dəfədən az olmayaraq profilaktik müayinəyə gəlsin.
    </p>


    <h3>3. Tərəflərin hüquq və vəzifələri</h3>
    <p>3.1. Klinikanın vəzifələri:
        3.1.1. Zəruri material və avadanlıqlardan istifadə etməklə Xəstəyə yüksək səviyyədə stomatoloji xidmətləri göstərmək;
        3.1.2. Xəstəni stomatoloji xidmətlərin göstərilmə qaydası və planı ilə tanış etmək;
        3.1.3. Müalicə planında meydana gələcək dəyişikliklər barədə Xəstəyə müalicə öncəsi məlumat vermək;
        3.1.4. Müalicə zamanı mümkün fəsadlara səbəb ola biləcək hallar barədə Xəstəyə məlumat vermək;
        3.1.5. Xəstə ilə münasibətlərdə tibbi etika və deontoloji qaydalara, habelə tibbi məxfiliyə riayət etmək.;
        3.1.6. Xidmət haqqının nağd və ya nağdsız qaydada ödənilməsi üçün Xəstəyə lazımi şərait yaratmaq.
        3.2. Klinikanın hüquqları:
        3.2.1. Müalicə planı daxilində müalicənin xarakterini və dərəcəsini, Xəstənin müalicəsi üçün lazım olan manipulyasiyaları müstəqil olaraq təyin etmək və ehtiyac görüldükdə dəyişmək;
        3.2.2. Xidmət haqqını müstəqil olaraq müəyyən etmək.
        3.3. Aşağıdakı hallarda Xəstəni qəbul etməkdən imtina etmək:
        3.3.1. Xəstə alkoqol, narkotik və ya zəhərli intoksikasiya təsiri altında olduqda;
        3.3.2. Xəstənin hərəkətləri Klinika heyətinin həyatı və sağlamlığını təhdid etdikdə;
        3.3.3. Xəstə Klinika heyətinə qarşı qeyri-etik davranışlar etdikdə.
        3.3.4. Xəstə təyin edilmiş əməliyyatın bitirilməsinə kifayət edəcək vaxt qalmayacaq qədər gecikdikdə. 
        3.4. Xəstənin vəzifələri:
        3.4.1. Keçmiş və ya mövcud xəstəlikləri (allergiya, hepatit, QİÇS, bronxial astma, ürək-damar sisteminin xəstəlikləri, cinsi yolla ötürülən xəstəliklər, vərəm və s.), habelə qan köçürmə, inyeksiyalar (son iki ildə) və yoluxucu xəstəliklərlə əlaqə barədə həkim-stomatoloqa məlumat vermək;
        3.4.2. Həkim-stomatoloqun təyin etdiyi profilaktik tədbirlərə əməl etmək və müalicəvi göstərişləri ciddi şəkildə yerinə yetirmək;
        3.4.3. Müalicə zamanı ortaya çıxan hər hansı bir fəsad barədə dərhal Klinikaya məlumat vermək;
        3.4.4. Öncədən təyin edilmiş müalicə seansına vaxtında gəlmək;
        3.4.5. Müalicə seansına vaxtında gələ bilməyəcəyi təqdirdə, bu barədə ən azı 24 saat öncədən Klinikaya məlumat vermək;
        3.4.6. Xidmət haqqını vaxtında və tam şəkildə ödəmək.
        3.5. Xəstənin hüquqları:
        3.5.1. Göstərilən stomatoloji xidmətlərin həcmi, dəyəri və nəticələri barədə məlumat əldə etmək;
        3.5.2. Stomatoloji xidmətlər göstərildikdən sonra meydana çıxan qüsurların Klinikanın təqsiri nəticəsində yaranması sübut olunduğu təqdirdə, həmin qüsurların aradan qaldırılmasını Klinikadan tələb etmək;
        3.5.3. Xidmət haqqını nağd və ya nağdsız qaydada ödəmək.
        
       </p>

       <h3>4. Xidmət haqqı və ödəniş qaydası</h3>
 <p>4.1. Xəstə ona göstərilmiş stomatoloji xidmətlərin haqqını bu Müqavilənin 1 nömrəli əlavəsinə uyğun olaraq tərtib edilmiş qiymət cədvəli (Planlama) əsasında Klinikaya ödəyir.
    4.2. Əgər Xəstənin müalicə kursu bir seansdan (müalicənin arasıkəsilmədən davam etdiyi müddət) ibarətdirsə, xidmət haqqı bu Müqavilə imzalanan tarixdə ödənilir.
    4.3. Əgər Xəstənin müalicə kursu uzunmüddətli davam edən seanslardan ibarətdirsə, xidmət haqqı bu Müqavilənin 4.4-cü bəndi nəzərə alınmaqla hər bir stomatoloji xidmətin göstərildiyi gün ödənilir.
    4.4. Göstəriləcək stomatoloji xidmətlər ortopedik və ortodontik stomatoloji xidmətlərlə bağlı olacaqsa, bu halda, Xəstə bu stomatoloji xidmətlərin dəyərinin ən azı 50 faizini əvvəlcədən, yəni bu Müqavilə imzalanan tarixdə ödəyir.    
    </p>

    <h3>5. Tərəflərin məsuliyyəti</h3>
    <p>5.1. Klinika Xəstəyə keyfiyyətli stomatoloji xidmətlər göstərməyə cavabdehlik daşıyır.
        5.2. Aşağıdakı hallarda Kinika Xəstə qarşısında heç bir məsuliyyət daşımır və göstərilmiş stomatoloji xidmətlərə zəmanət vermir:
        5.2.1. Xəstə tərəfindən bu Müqavilənin 3.4.1-ci bəndində göstərilən vəzifəyə əməl edilməməsi;
        5.2.2. Xəstənin təqsiri nəticəsində yaranan fəsadlar: ağız boşluğunun gigiyenasına riayət edilməməsi, həkim-stomatoloqun göstəriş və təyinatlarına əməl edilməməsi, fəsadlar barədə vaxtında məlumat verilməməsi və s.;
        5.2.3. Stomatoloji klinikalarda istifadəsi nəzərdə tutulmuş dərman, pereparat və materiallara qarşı allergiya və ya dözümsüzlüklərin meydana gəlməsi;
        5.2.4. Başqa klinikalarda müalicə olunan dişlərin müalicəsindəki fəsadlar.
        </p>

       <h3>6. Fors-major</h3>
       <p>Tərəflərin istək və arzularından asılı olmayan, qabaqcadan bilinməsi və ya ağlabatan vasitələrin köməyi ilə qarşısının alınması mümkün olmayan şərait üzündən, o cümlədən, müharibə elan edilməsi, yaxud faktiki müharibə, mülki iğtişaşlar, pandemiyalar, epidemiyalar, blokada, embarqo, zəlzələlər, daşqınlar, yanğınlar, başqa təbii fəlakət və hökumətin qadağa tədbirləri nəticəsində öhdəliklərin yerinə yetirilməməsinə görə tərəflərdən heç biri digər tərəf qarşısında məsuliyyət daşımır.</p>
      
<h3>7. Mübahisələrin həlli</h3>
 <p>7.1. Tərəflər arasında bu müqavilənin icrasından irəli gələn mübahisələr qarşılıqlı razılıqla həll olunur.
     7.2. Qarşılıqlı razılıqla həll olunmayan mübahisələr Azərbaycan Respublikasının qanunvericiliyinə uyğun qaydada həll edilir.
        </p>

 <h3>8. Müqavilənin müddəti</h3>
        <p>8.1. Bu müqavilənin müddəti tərəflər öz öhdəliklərini icra etdiyi vaxtadək müəyyən edilir.
            8.2. Bu müqavilə iki nüsxədə və azərbaycan dilində tərtib edilmişdir. Tərəflərin imzası və Klinikanın möhürü ilə təsdiq olunduğu andan hüquqi qüvvəyə minir.
            8.3. Bu Müqaviləyə edilən hər hansı əlavə və dəyişiklik yazılı şəkildə və tərəflərin imzası və Klinikanın möhürü ilə təsdiq edildiyi halda etibarlıdır.
            8.4. Bu Müqavilənin vaxtından əvvəl ləğvi tərəflərin qarşılıqlı razılığı ilə mümkündür.
            8.5. Bu Müqavilə vaxtından əvvəl ləğv olunarkən Xəstəyə göstərilmiş stomatoloji xidmətlərə görə Xəstə tərəfindən ödənilən xidmət haqqı geri qaytarılmır.
             </p>
        
        



<h3>9. Tərəflərin rekvizitləri</h3>

<br>
<b>AzDent Stomatoloji Klinikasının<br> qanuni təmsilçisi</b><br>
Məlikli İbrahim Fuad oğlu<br>
________________ (imza) M.Y.<br><br>

                                <b>Xəstə</b><br>
                 {{.LastName}}, {{.FirstName}}, {{.MiddleName}}{{genderWord .Gender}}<br>
______________ (imza)

</body>
</html>
