<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <style>
       body {
            font-family: 'DejaVu', sans-serif;
            padding: 40px;
            line-height: 1.6;
            font-size: 14pt;
        }
        .title {
            text-align: center;
            font-size: 20pt;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .section-title {
            font-weight: bold;
            margin-top: 20px;
        }
        p {
            margin-bottom: 12px;
        }
    </style>
</head>
<body>

<div class="title">STOMATOLOJİ XİDMƏT MÜQAVİLƏSİ №</div>

<p>Bakı şəhəri {{.Today}} - ci il</p>

<p>
    Bir tərəfdən pasient {{.LastName}}, {{.FirstName}}, {{.MiddleName }} {{.Gender}} {{.Citizenship}} vətəndaşı “sifarişçi” qismində və digər    
    tərəfdən sonradan “icraçı” adlanan AzDent Stomatoloji klinikası adına İbrahim Məlikli Seyidağa oğlu şəxs qismində dental implantların istifadəsi ilə ortopedik müalicə haqqında birgə müqavilə bağlayır.
    
</p>

<h3>1. Müqavilənin tərkibi</h3>
<p> 1.1. Sifarişçi (pasiyent) tam etibarlılıq ifadə etməli, icraçı (müalicə müəssisəsi) isə dental implant istifadə etməklə ortopedik müalicənin kompleks proqramını öz üzərinə götürməli  və növbəti qarşılıqlı öhdəlikləri yerinə yetirərkən keyfiyyət barədə zəmanət  verməlidir.</p>

<h3> 2.	Tərəflərin öhdəçiliyi.</h3>
<p> 2.1.	 İcraçının öhdəçiliyi.
    a)	Pasiyentə reabilitasiya dövründə 1 (bir) il və həmçinin sonrakı dövrlərdə dental implantasiyadan sonra baş verə biləcək ağırlaşmalar barədə məlumat vermək. 
    b)	İmplanta dayaq olan protezlərdən istifadə və profilaktik tədbirlərə riayət edilməsi barədə məlumat vermək. 
    c)	Pasiyenti müntəzəm müalicə etmək və ağız boşluğunun gigiyenasına həm implantasiya əməliyyatından sonra həm də protezləşmədən sonra – reabilitasiya dövründə nəzarət etmək.
    d)	Pasiyentin həkim-stomatoloqun qəbuluna gəlmə vaxtlarını razılaşdırmaq.
    e)	Xidmətin keyfiyyətinə qarşi iradlar olduqda, xüsusəndə icraçının səhvindən implantansiyanın nəticəsi uğursuz olduqda 1 (bir) il müddətində pasiyentin istəyi ilə implantasiya ya  pulsuz təkrar olunmalı, ya da sərf olunan material və dərmanlar nəzərə alınmadan tibbi xidmətin nominal dəyəri pasiyentə qaytarılır
    2.2.	Sifarişçinin öhdəçiliyi.
    a)	Dental  implantasiyaya razılıq haqqında anketdə verilmiş informasiya ilə tanış olmalı və xüsusi məsuliyyət daşıdığını təsdiq etməlidir.  
    b)	Ağız boşluğu gigiyenasına, implantlara və diş protezlərinə profilaktik qulluğa aid həkim məsləhətlərinə riayət etmək.
    c)	Kontrol və profilaktik müayinə məqsədi ilə həkim stomatoloqa lazımı vaxtlarda    müraciət etməli, reabilitasiya dövründə isə 1 (bir) il razılaşdırılmış vaxtlarda müntəzəm müraciət etməlidir.
    d)	Protezdən, habelə implantlardan istifadə zamanı əmələ gələn çatışmazlıq haqqında başqa müəssisələrə müraciət etmədən yalnız öz müalicə həkiminə müraciət etməlidir.
    e)	Dental implantasiya ilə əlaqədar bütün kompleks müalicə tədbirlərini yalnız öz müalicə həkimi həyata keçirməlidir.
   </p>


    <h3> 3.	İşin dəyəri və xərclərin ödənilməsi  qaydası.</h3>
    <p> 3.1.	İmplant tədbiq edilməklə kompleks stomatoloji müalicə proqramını həyata keçirərkən sifarişçi xərcləri preyskuranta görə faktik göstərilmiş tibbi yardımın həcminə əsasən ödəyir.
        3.2.	Avans ödənişi ________________________________________________________
                               (qiyməti sözlə yazmalı)        
       </p>

       <h3> 4.Xüsusi şərait.</h3>
 <p> 4.1.	Gözlənilmədən əməliyyatdan imtina edilməsi hallarında icraçı, konsultativ-diaqnostik xidmətlərin dəyəri daxil edilmədən qalan ödənilən xərcləri sifarişçiyə qaytarır.
    4.2.	Sifarişçinin səhvi üzündən, yəni ağız boşluğu qiqiyenasına pis riayət edilməsi, razılaşdırılmış vaxtlarda həkimə müraciət etmədikdə tibbi ağırlaşmalar baş verərsə, icraçı heç bir maliyyə məsuliyyəti daşımır.
    4.3.	Diş protezinin konstruksiyası sifarişçinin imkan daxilində istəyi nəzərə alınmaqla əsasən icraçı tərəfindən təyin edilir. Əgər pasiyent tibbi cəhətdən məqsədəuyğun olmayan konstruksiyaya israrlıdırsa, onda müqavilə pozulmuş olur və pasiyent müalicəyə sərf olunan maliyyə xərcini özü  daşıyır.
    4.4.	İcraçı sifarişçiyə implant tətbiq edilmiş diş protezinin funksional dəyərinə 5 (beş) il zəmanət verir. Zəmanət müddəti protezin təhvili vaxtından hesab olunur.
    4.5.	Reabilitasiya dövründə sifarişçidən asılı olmayaraq  gözlənilmədən ağırlaşmalar baş verərsə, icraçı implant və məsləhət xidmətlərinin dəyərini nəzərə almadan ödənilmiş xərcləri pasiyentə qaytarır və ya pulsuz təkrar müalicə aparır. 
   </p>

    <h3> 5.	Yoxlama qaydası.</h3>
    <p> 5.1. Aparılmış tibbi xidmətin həcmi və keyfiyyətinin yoxlanması müalicə müəssisəsinin müdiriyyəti tərəfindən həyata keçirilir, lazım gəldikdə isə səhiyyə orqanlarının mütəxəssisləri yoxlama prosesinə cəlb olunur.</p>

       
<h3>Müqavilə tərəflərinin imzası. <br>

   <br> Sifarişçi _____________________                                                 İcraçı________________________
    </h3>

</body>
</html>
